<div class='container card p-3 mt-3'>
    <h1>Edit Project</h1> 
    <%= form_for @project do |form| %>
    <div class="field form-group">
        <%= form.label :title,class:"form-label" %><br>
        <%= form.text_field :title,class:"form-control" %>
    </div>
    <div class="field form-group">
        <%= form.label :Manager_ID,class:"form-label" %><br>
        <%= form.text_field :creator_id,class:"form-control" %>
    </div>
    <div class="field form-group">
        <%= form.label :Developer_ID,class:"form-label" %><br>
        <%= form.text_field :developer_id,class:"form-control" %>
    </div>
    <div class="field form-group">
        <%= form.label :Tester_ID,class:"form-label" %><br>
        <%= form.text_field :tester_id,class:"form-control" %><br>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <% end %>
</div>
