<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Project Title</th>
      <th scope="col">Edit Project</th>
      <th scope="col">Add Bugs</th>
      <th scope="col">Show Bugs</th>
      <th scope="col">Delete Project</th>
    </tr>
  </thead>
  <tbody>
  <% @project.each do |project| %>
    <tr>
      <th> <%= project.id %></th>
      <td><%= project.title %></td>
      <td><%= link_to 'Edit', edit_project_path(project)%></td>
      <td><%= link_to "Let's add", new_bug_path(id: project.id)%></td>
      <td><%= link_to 'Display', bugs_path %></td>
      <td><%= link_to 'Remove', project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br />
<td><%= button_to 'Add a New Project', new_project_path, method: 'get', class: 'btn btn-success'%></td>