<div class='col-md-12 card m-3 p-3'>
    <div class='card-header text-center'>
        <h1><%= @project.title %></h1>
    </div>
    <div class='row card-body'>
        <div class='col-md-8 '>
            <table class="table caption-top">
                <caption>Details of Project</caption>
                <tbody>
                    <tr>
                    <th scope="col">Project Title</th>
                    <td><%= @project.title %></td>
                    </tr>
                    <tr>
                    <th scope="col">Project Manager ID</th>
                    <td><%= @project.creator_id %></td>
                    </tr>
                    <tr>
                    <th scope="col">Project Developer ID</th>
                    <td><%= @project.developer_id %></td>
                    </tr>
                    <tr>
                    <th scope="col">Project QA ID</th>
                    <td><%= @project.tester_id %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='col-md-4'>
            <div class="p-3" role="group" aria-label="Vertical button group">
                <%if current_user.QualityAssurance?%>
                    <p>You have logged in as a Quality Assurance Engineer <%=@project.title%>. You can only Add bugs to this project.</p>
                    <%= link_to 'Add Bugs', new_bug_path(id: @project.id), class: 'btn mt-2 btn-primary'%>
                <% elsif current_user.Developer? %>
                    <p>You have logged in as a Developer to <%=@project.title%>. You can only access asigned bugs to this project.</p>
                    <%= link_to 'Display Bugs', bugs_path(id: @project.id), class: 'btn mt-2 btn-primary'%>
                <% elsif current_user.Manager? %>
                    <p>You have logged in as a Manager to <%=@project.title%>. You have full rights to this project.</p>
                    <%= link_to 'Edit Project', edit_project_path(@project), class: 'btn mt-2 btn-primary'%>
                    <%= link_to 'Delete Project', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn mt-2 btn-danger'%>
                <% end %>
                <%= link_to "Back", :back, class:"btn mt-2 btn-primary" %>
            </div>
        </div>
    </div>
</div>
